/* ----------------------
	Guilherme Kürten
	06/01/2015

-----------------------*/

/* Geral */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {

    height: 100%;
    margin: 0px;
    font-size: 62.5%;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}


img,
picture,
video,
embed {
    max-width: 100%;
}

h1, h2, h3, h4, h5 p {

    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

/* Tipografia */

h1.lead {

    font-family: 'Montserrat', sans-serif;
    font-size: 5.6em;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    margin: 2.63em auto 2.1em;
    line-height: 1.32em;
}

h2.subtitulo {

    font-family: 'Julius Sans One', serif;
    font-size: 2.255em;
    font-weight: 400;
    color: #ffffff;
    text-align: left;
    position: relative;
    display: block;
    line-height: 2.8em;
    margin: -5.5em auto 5em;
    opacity: .5;

}

h2 {

    font-family: 'Montserrat', serif;
    font-size: 6em;
    font-weight: 600;
    color: #000;
    position: relative;
    line-height: 1.1em;
    display: block;
    margin: 1.989em auto 1em;


}

h2:first-child {

    margin: 1em auto 1em;

}

    .cores {

        padding: 0em 0 0.3em 0;
    }

    .borda  {

        border-bottom: solid 1pt #000;
        border-width: 0.1em;
        width: 10%;
        display: block;
        margin: 0.8em 0 -0.4em 0;
    }

    .indent {

        text-indent: 1em;
    }

h3 {

    font-family: 'Montserrat', sans-serif;
    font-size: 2.255em;
    font-weight: 600;
    margin: 2em 0 -1.3em 1.1em;

}

h3 a {

    text-decoration: none;
    color: #0D47A1;

}

h3 a:hover {

    text-decoration: underline;
    color: #E91E63;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

blockquote {

    font-family: 'Crimson text', serif;
    font-size: 2.6em;
    line-height: 1.4em;
    padding: 2em;
    text-align: justify;
    margin: 0;
    width: 103.9%;
    color: #242424;
    border: solid 3pt #E7E7E7;
}

/* paragrafo */

p {

    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.7em;
    color: #525252;
    text-align: justify;
    margin: 2em 0 2em 1.3em;
    display: block;

}

p span {

    display: block;
    margin: 1em;
}

p a {

    text-decoration: none;
    color: #0D47A1;
}

p a:hover {

    color: #E91E63;
    border-bottom: 1px solid;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

p a:visited {

    color: #4A148C;
}

p em {

    color: #646464;
}



/* fim parágrafo */

/* imagem e legenda */

.legenda {

    font-size: 1.8em;
    line-height: 1.2em;
    text-align: left;
    margin: 0 1.6em -0.9em 0em; 
    color: #909090;
}

.img {

   /* padding: 0 0 0 3em; */
    margin: -1em 0 0;    
}

.imgesquerda {


}



/* fim imagem e legenda */

.ps {

    color: #808080;
    font-size: 0.9em;
    line-height: 1.5em;
    display: block;

}

.citacao {

    font-size: 0.9em;
    line-height: 1.5em;
    color: #646464;
    margin: 0 2em;
    display: block;
}

.subtitulo {

    font-size: 1.2em;
    color: #E91E63;
}

.shade {

    color: #c5c5c5;

}

.shade:hover {

    color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

hr {

    width: 10%;
    display: block;
    display: inline-block;
}


/* Fim tipografia */


section.titulo {

    background: url(../images/axelantas-bergkvist.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    display: table;
    float: left;
    margin: 0;

}

section {

    display: block;
    float: left;
    margin: 0;

}

.container {
    max-width: 45%; /* 730px */
    min-width: 725px;
    margin: 0 auto;
    height: 100%;
    display: block;

}

    .disqus {

        margin-bottom: 2.5em;
    }

    .newsletter {

        background: #E91E63;
        width: 100%;
    }

    .newsletter input {

        height: 3em;
        margin-bottom: 3em; 

    }

        .newsletter input[type=email] {

        margin: 0 0 2em 0em;
        width: 30.7em;
        font-family: "Open Sans", sans-serif;
        color: #c4c4c4;
        border: none; 
        font-size: 1.5em;
        padding: 1.59em 1.59em 1.59em 1em;


    }

        .newsletter input[type=email]:active {

        border: solid 1pt #880E4F;


    }

    .newsletter input[type=submit] {

        font-family: "Montserrat", sans-serif;
        font-size: 1.6em;
        text-transform: uppercase;
        color: #fff;
        background-color: #000;
        border: none;
        padding: 0 1em;

    }

         .newsletter input[type=submit]:hover {

            color: #000;
            background-color: #fff;
            cursor: pointer;
            
        }

        .newsletter input[type=submit]:active {

            color: #fff;
            background-color: #880e4f;
            
        }



        .newsletter p {

            color: #880E4F;
            font-size: 1.6em;
            margin: 0em 0 1em 0em
        }

        .newsletter h3  {

            color: #880E4F;
            font-size: 2.6em;
            margin: 1.8em 0 0 0;
          
        }

        .newsletter .fa {

            color: #880E4F;
        }

/* inicio cinza */

/*

.cinza {

    background: linear-gradient(270deg, #2ae1b1, #04b8ee);
    background-size: 400% 400%;
    padding-top: 1em; 
}

    .cinza p {

        color: #142B49;
    }

    .cinza h2 {

        color: #01334D;
    }

    .cinza  a {

        color: #001E4C;
        text-decoration: underline;
    }

    .cinza em {

        color:#0F619D;
    }

*/

/* fim cinza */

.topo {
    max-width: 70%; /* ? */
    min-width: 725px;
    margin: 0 auto;
    height: 100%;
    display: block;

}

/* HEADER */

nav {

    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    background-color: #000;

}

nav ul {

    display: block;
    list-style: none;
    padding: 0;
    float: right;

}

nav ul li {

    display: inline-block;
}

nav a.bicicleta {
    display: block;
    width: 5em;
    height: 3em;
    background: url("../images/bike-icon.png") left no-repeat;
    padding: 1.3em 3em;
    float: left;
    text-align: left;
    position: relative;
    display: block;
    margin-top: 1em;
    margin-left: 2.2em;
}

nav ul li a {

    display: inline-block;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
    opacity: 0.6;
    padding: 0.848em 2em;
}

nav a:hover {

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;

}

.actived {

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    opacity: 1;
}

a.indice {

    text-decoration: none;
    display: block;
    padding: 1.5em 0 0;
    color: #0D47A1;
}

a.indice strong:hover {

    color: #E91E63;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

a.indice p {

    line-height: 1.3em;
    margin: -1em 0 2em -0.4em;
    color: #b5b5b5;
}

a.indice strong {

    font-family: 'Montserrat', sans-serif;
    color: #000;
    display: block;

}

#rodape {


    background-color: #000;
}

#rodape p {

    color: #777;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

#rodape a {

    color: #4DD0E1;
}

#rodape a:visited {

    color: #00838F;
}

/* fim header */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* 1200x */

@media only screen and (max-width: 1200px) {

    nav ul li a {

        padding: 0.848em 1.5em;
    }

    nav a.bicicleta {

        margin-left: 1.5em;
    }

    h1.lead {

        font-size: 4.827em;
    }

    h2.subtitulo {

        font-size: 1.9em;
    }

}

/* 768x */

@media only screen and (max-width: 1000px) {

    nav ul li a {

        padding: 0.848em 0.8em;
        font-size: 1.2em;
    }

    nav a.bicicleta {

          background: url("../images/bike-icon_768.png") left no-repeat;
          margin-left: 1.1em;
          width: 3.6em;
          padding-right:1em; 
    }

    p {

        margin: 2em 1em 2em 1.3em;
    }

}